* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  background-color: rgb(21, 42, 99);
  background-image: url('../../public/mk_background.jpg');
}
